<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="baseDir">logs</Property>
	</Properties>
    <Appenders>
		<RollingFile name="RollingFileDebug"
			fileName="${baseDir}/debugBallscore.log"
			filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
			<CronTriggeringPolicy schedule="0 0 0 * * ?" />
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="*/app-*.log.gz" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="RollingFileError"
			fileName="${baseDir}/errorBallscore.log"
			filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
			<CronTriggeringPolicy schedule="0 0 0 * * ?" />
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="*/app-*.log.gz" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="RollingFileAll"
			fileName="${baseDir}/allBallscore.log"
			filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
			<CronTriggeringPolicy schedule="0 0 0 * * ?" />
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="*/app-*.log.gz" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
    </Appenders>
    <Loggers>
    	<!-- Log ipn.escom.ballScore -->
    	<Logger name="ipn.escom.ballScore" level="ALL" additivity="false">
        	<Appender-ref ref="RollingFileAll"   level="ALL"   />
        	<Appender-ref ref="RollingFileDebug" level="DEBUG" />
        	<AppenderRef  ref="RollingFileError" level="ERROR" />
    	</Logger>
		
		<Root level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Root>
    </Loggers>
</Configuration>