#login {
	margin-left: auto;
	margin-right: auto;
	width: 330px;
}

#loginRegistro {
	margin-left: auto;
	margin-right: auto;
	width: 330px;
}

body {
	padding: 0px;
	margin: 0px;
}

#menu ul {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	background-color: #82C5EC;
	list-style: none;
	font: 80% Tahoma;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	background-color: #82C5EC;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #82C5EC;
	padding: 2px 10px;
	float: left;
}

#menu ul li a:hover {
	background-color: #D6D6D6;
	color: #6D6D6D;
	border-bottom: 3px solid #EA0000;
}

.errors {
	background-color: #FFCCCC;
	border: 1px solid #CC0000;
	width: 400px;
	margin-bottom: 8px;
	position: fixed;
	top: 30px;
	right: 5px;
}

.errors li {
	list-style: none;
}

.message {
	background-color: #DDFFDD;
	border: 1px solid #009900;
	width: 200px;
	position: fixed;
	top: 30px;
	right: 5px;
}

.message li {
	list-style: none;
}

html, body  {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
}
.titleDiv {
    background-color: #EFFBEF;
    font-weight:bold;
    font-size:18px;
    text-align:left;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    border:2px solid #8F99EF;
}
h1 { font-weight:bold; color: brown; font-size:15px; text-align:left;}

td { font-size:12px; padding-right:10px; }
th { text-align:left; font-weight:bold; font-size:13px; padding-right:10px; }
.tdLabel { font-weight: bold; white-space:nowrap; vertical-align:top;}

A { color:#4A825A; text-decoration:none;}
A:link { text-decoration:none;}
A:visited { text-decoration:none;}
A:hover { text-decoration:none; color: red;}

.borderAll {
    border: 2px solid #8F99EF;
}

.butStnd {
    font-family:arial,sans-serif;
    font-size:11px;
    width:105px;
    background-color:#DCDFFA ;color:#4A825A;font-weight:bold;
}

.error {
    color: red;
    font-weight: bold;
}
.errorSection {
    padding-left:18px;
    padding-top:2px;
    padding-bottom:10px;
    padding-right:5px;
}

.even { background-color: #EFFBEF; }
.odd { background-color: white; }

.nowrap { white-space:nowrap; }